<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="./styles.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow&family=Bree+Serif&family=Monoton&family=Philosopher:ital,wght@1,700&family=Rubik+Mono+One&family=Work+Sans:wght@500&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,100&family=Rajdhani:wght@300;400&family=Rubik+80s+Fade&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
 <style>
    body{
        margin:0;
        padding: 0;
    }

    .section-1{
        --gap: 16px;
        --num-cols: 4;
        --row-height: 150px;

        box-sizing: border-box;
        padding: var(--gap);
        display: grid;
        grid-template-columns: repeat(var(--num-cols),1fr);
        grid-auto-rows: var(--row-height);
        gap:var(--gap);
    }

    .section-1 > .child{
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: rgba(50,50,93, 0.25) 0px 50px 100px -20px, rgba(0,0,0, 0.3) 0px 60px -30px;
    }

    .child-grid-col-2{
        grid-column: span 2;
    }

    .child-grid-row-2{
        grid-row: span 2;
    }
    @media screen and (max-width: 1024px){
        .section-1{
            --num-cols: 2;
        }

        .child-2-grid-12{
            grid-column: span 4;
        }
    }

    .login {
    margin-bottom:5px;
}
.dropdown-menu {
    width: 300px !important;
}

.fas{
  color: #fff !important;
  background-color: #00263b !important;
}

.form-control:focus{
  border-color: #00263b !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
}




 </style>

</head>

<body>
  <header class="site-navbar" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light shadow-none">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="../../../../assets/imagenes/logoV2.jpg" height="50" alt="ven2see Logo" loading="lazy" />
        </a>
  
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Catalog</a>
            </li>
          </ul>
  
  
        </div>
          <!-- Left links -->
  
    <div class="d-flex align-items-center justify-content-end collapse show" *ngIf="authService.getToken()==null" style="width: 43% !important;">
            <div style="width: 50% !important; position: relative !important; display: flex !important; justify-content: flex-end !important; ">
              <a class="bg-none border-none d-flex justify-content-end" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 7px !important; font-weight: bold !important; color: #00263b !important;">
                Login
              </a>
              <div class="dropdown-menu" style="top: 3.5rem !important; left: 1.5rem !important;">
                <form class="modal-content" method="post" accept-charset="UTF-8">
                  <div class="modal-header text-center mt-3">
                    <h4 class="modal-title w-100 font-weight-bold mb-3">Sign in</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                  </div>
                  <div class="modal-body mx-3 border-0">
                    <div class="input-group flex-nowrap mb-4 input-border-white">
                      <i class="fas fa-user prefix grey-text input-group-text border-0"></i>
                      <input type="text" id="form3" class="form-control validate border-0" placeholder="Username">
                    </div>
            
                    <div class="input-group flex-nowrap mb-4">
                      <i class="fas fa-envelope prefix grey-text input-group-text border-0"></i>
                      <input type="password" id="form2" class="form-control validate border-0" placeholder="Password">
                    </div>
                    
                    <button class="btn btn-indigo w-100 mb-3">Sign in</button>
                    <p class="mt-3" style="font-size: 15px !important;">Don't have an account? <a href="#">Sign up</a></p>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="margin: 0px !important;"><path fill="#00263b" fill-opacity="1" d="M0,160L80,160C160,160,320,160,480,144C640,128,800,96,960,96C1120,96,1280,128,1360,144L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
                </form>
            </div>
            </div>
  
            <a routerLink="/sign-up" class="btn me-3" style="background-color: #00263b !important; color: white !important;">
              Sign up
            </a>
            
     </div>
          <div class="d-flex align-items-center d-none" *ngIf="authService.getToken()!=null">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
              <i class="fas fa-shopping-cart"></i>
            </a>
  
            <!-- Notifications -->
            <div class="dropdown">
              <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item btn-link" href="#">Some news</a>
                </li>
                <li>
                  <a class="dropdown-item btn-link" href="#">Another news</a>
                </li>
                <li>
                  <a class="dropdown-item btn-link" href="#">Something else here</a>
                </li>
              </ul>
            </div>
            <!-- Avatar -->
            <div class="dropdown" style="z-index:999999999">
              <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                  alt="Black and White Portrait of a Man" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                  <a class="dropdown-item" href="#">My profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" data-mdb-toggle="modal" data-mdb-target="#exampleModal3" (click)="newPost">New
                     Post</a>
                </li>
                <li>
                  <a class="dropdown-item">Panel Admin</a>
                </li>
                <li>
                <li>
                  <a class="dropdown-item">Favorite</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item btn">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
  </header>
  
  <section class="vh-100" style="background-color: #4B515D;">
    <div class="container py-5 h-100">
  
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
  
          <div class="card" style="color: #4B515D; border-radius: 35px;">
            <div class="card-body p-4">
  
              <div class="d-flex">
                <h6 class="flex-grow-1">Warsaw</h6>
                <h6>15:07</h6>
              </div>
  
              <div class="d-flex flex-column text-center mt-5 mb-4">
                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> 13°C </h6>
                <span class="small" style="color: #868B94">Stormy</span>
              </div>
  
              <div class="d-flex align-items-center">
                <div class="flex-grow-1" style="font-size: 1rem;">
                  <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 40 km/h
                    </span></div>
                  <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 84% </span>
                  </div>
                  <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 0.2h </span>
                  </div>
                </div>
                <div>
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                    width="100px">
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </section>

  <section style="background-color: #eee">
    <div class="text-center container py-5">
        <div class="row">
          <div class="col-6 col-md-3 col-lg-3 mb-4">
                <div class="card">
                    <div class="bg-image hover-zoom ripple img-cs" data-mdb-ripple-color="light">
                        <img src="https://media.istockphoto.com/id/1436061606/es/foto/zapatilla-de-mujer-voladora-y-colorida-aislada-sobre-fondo-blanco-zapato-deportivo-elegante-de.jpg?s=1024x1024&w=is&k=20&c=5p5qHexefl2r3h9dVKTYOkcPMhbLfj2ViQW2dxIFgz8="
                            class="w-100" />
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Carrtd-data-table-row</h5>
                        </a>
                        <h6 class="mb-3">
                            <s>4</s><strong class="ms-2 text-danger">09</strong>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3 mb-4">
              <div class="card">
                  <div class="bg-image hover-zoom ripple img-cs" data-mdb-ripple-color="light">
                      <img src="https://media.istockphoto.com/id/1436061606/es/foto/zapatilla-de-mujer-voladora-y-colorida-aislada-sobre-fondo-blanco-zapato-deportivo-elegante-de.jpg?s=1024x1024&w=is&k=20&c=5p5qHexefl2r3h9dVKTYOkcPMhbLfj2ViQW2dxIFgz8="
                          class="w-100" />
                  </div>
                  <div class="card-body">
                      <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Carrtd-data-table-row</h5>
                      </a>
                      <h6 class="mb-3">
                          <s>4</s><strong class="ms-2 text-danger">09</strong>
                      </h6>
                  </div>
              </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple img-cs" data-mdb-ripple-color="light">
                    <img src="https://media.istockphoto.com/id/1436061606/es/foto/zapatilla-de-mujer-voladora-y-colorida-aislada-sobre-fondo-blanco-zapato-deportivo-elegante-de.jpg?s=1024x1024&w=is&k=20&c=5p5qHexefl2r3h9dVKTYOkcPMhbLfj2ViQW2dxIFgz8="
                        class="w-100" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <h5 class="card-title mb-3">Carrtd-data-table-row</h5>
                    </a>
                    <h6 class="mb-3">
                        <s>4</s><strong class="ms-2 text-danger">09</strong>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-3 mb-4">
                <div class="card">
                    <div class="bg-image hover-zoom ripple img-cs" data-mdb-ripple-color="light">
                        <img src="https://media.istockphoto.com/id/1436061606/es/foto/zapatilla-de-mujer-voladora-y-colorida-aislada-sobre-fondo-blanco-zapato-deportivo-elegante-de.jpg?s=1024x1024&w=is&k=20&c=5p5qHexefl2r3h9dVKTYOkcPMhbLfj2ViQW2dxIFgz8="
                            class="w-100" />
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">Carrtd-data-table-row</h5>
                        </a>
                        <h6 class="mb-3">
                            <s>4</s><strong class="ms-2 text-danger">09</strong>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="..." class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>

   
  
      
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
  <script type="text/javascript"
    src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://cdn.tiny.cloud/1/7e8dd53qv49h7efp8kavlf95qzt6j1p6pvtz8x5ezfs9fwp7/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

    
  
</body>

</html>
