.modal-content {
    border-radius: 1rem
}

.modal-content:hover {
    box-shadow: 2px 2px 2px black
}

.fa {
    color: #00263b;
    font-size: 90px;
    padding: 30px 0px
}

.b1 {
    background-color: #2b84be;
    box-shadow: 0px 4px #337095;
    font-size: 17px
}

.r3 {
    color: #c1c1c1;
    font-weight: 500
}

a,
a:hover {
    text-decoration: none
}


.dropdown-menu {
    width: 330px !important;
}

.form-control .fas{
    color: #fff !important;
    background-color: #00263b !important;
  }

.fas{
    color: #00263b !important
}
  
  .form-control:focus{
    border-color: #00263b !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
  }
