<div class="page-contenedor5">
  <a id="porta"></a>
  <div class="titleSection" [style.display]="title === 'Marketplace' ? 'block' : 'none'">
    <h1 class="titleP h1">{{title}}</h1>
  </div>

  <section style="background-color: #eee">
    <div class="text-center  py-5 " style="width: 93% !important; margin: auto;">
      <h2 class="fw-bolder mb-4" [style.display]="title === 'Related Products' ? 'block' : 'none'" style="text-align: left !important;">{{title}}</h2>
      <div class="row">
        <div class="col-6 col-md-3 col-lg-3 mb-4" *ngFor="let itemS of products | paginate: { itemsPerPage: 4, currentPage: p }">
          <div class="card">
            <div class="bg-image hover-zoom ripple img-css" data-mdb-ripple-color="light">
              <img src="http://localhost:9000/images/{{itemS.image}}" class="w-100" />
            </div>
            <div class="card-body">
              <a  class="text-reset" [routerLink]="['/single-product/'+itemS.id]">
                <h5 class="card-title mb-3">{{itemS.name}}</h5>
              </a>
              <h6 class="mb-3">
                <s>{{itemS.price}}</s><strong class="ms-2 text-danger"></strong>
              </h6>
              <a class="d-flex justify-content-end" (click)="addItems(itemS)"><i class="fas fa-plus-circle"
                  style="font-size: 1.5em;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="..." class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item" *ngIf="p != 1">
          <a class="page-link" (click)="p = p - 1">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of items; let i = index" [ngClass]="{active: p == page}">
          <a class="page-link" (click)="p = page">{{ page }}</a>
        </li>
        <li class="page-item" *ngIf="p != items.length">
          <a class="page-link" (click)="p = p + 1">Next</a>
        </li>
      </ul>
    </nav>
  </section>
  
</div>
