
.img-css {
    height: 12em !important;
    max-height: 12em !important;
    max-height: 12em !important;
    overflow: hidden !important;
}

@media (max-width: 767px){
    .img-css {
        height: 7em !important;
        max-height: 7em !important;
        max-height:  7em!important;
        overflow: hidden !important;
    }
    
}