

<router-outlet></router-outlet>


<!-- <ngx-ui-loader
	bgsColor="#ffcc48"
	text="Espere un momento..."
	pbColor="#b12bf7"
	fgsType="square-jelly-box"
></ngx-ui-loader> -->

<ngx-ui-loader

 bgsColor= "#dec1c1"
  bgsPosition= "bottom-right"
  bgsType= "ball-spin-clockwise"
  blur= 5
  delay= 0
  fastFadeOut= true
  fgsColor= "#003865 "
  fgsPosition= "center-center"
  fgsType= "ball-spin-clockwise"
  masterLoaderId= "master"
  overlayBorderRadius= "0"
  overlayColor= "rgba(147,162,155,0.8)"
  pbColor= "#003865"
  pbDirection= "ltr"
  text= ""
  textColor= "#FFFFFF"
  textPosition= "center-center"
  maxTime= -1
  minTime= 300
></ngx-ui-loader>
